/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
  .about-EOD p{
    text-align: justify;
  }
  .about-EOD .about-EOD-item{
    padding-left: 40px;
  }
  .about-EOD .about-EOD-item h2,.about-EOD-item .about-EOD-btn{
    text-align: center;
  }
  .about-EOD-item .about-EOD-btn .btn{
    margin: 0 15px;
  }
  /* .service-item a{
  } */
  .service-item p{
    font-size: .85rem;
    word-break: break-all;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
  }
  .service-item h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  .service-item a{
    color: brown;
    transition: all .3s ease-in-out;
  }
  .service-item a:hover{
    color: blue;
  }
  .timeline-item-image .grid-item .grid-image{
    border-radius: 5px;
  }
  .timeline .content h2{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .team-member .team-image{
    overflow: hidden;
  }
  .team-member .team-image img{
    width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
  }
  .team-member .team-image img:hover{
    transform: scale(1.2) translate(10px,15px);
  }
/* @media screen and (min-width: 992px) and (max-width: 1200px) {

} */

@media (max-width: 991px) {
    .about-EOD .about-EOD-item{
      padding: 0 15px;
    }
}
@media (max-width: 768px){
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    /* Full-width containers */
    .tl {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .tl::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .tl-left::after, .tl-right::after {
    left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .tl-right {
    left: 0%;
    }
}

@media (max-width: 480px){
  .about-EOD-item .about-EOD-btn .btn{
    margin: 0 0;
  }
}