/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/


/* ----------- index ----------- */
#logo .logo-dark img{
  height: 65px;
  /* animation: logo-w 10s infinite; */
}
/* @keyframes logo-w {
  0%{transform: scale(.7);}
  50%{transform: scale(1);}
  100%{transform: scale(.7);}
} */
.top-EOD-btn .top-EOD-btn-text span{
  color: #004496;
}
  .about-EOD p{
    text-align: justify;
  }
  .about-EOD .about-EOD-item{
    padding-left: 40px;
  }
  .about-EOD .about-EOD-item h2,.about-EOD-item .about-EOD-btn{
    text-align: center;
  }
  .about-EOD-item .about-EOD-btn .btn{
    margin: 0 15px;
  }
  /* .service-item a{
  } */
  .service-item p{
    font-size: .85rem;
    word-break: break-all;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
  }
  .service-item h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  /* .service-item a{
    color: brown;
    transition: all .3s ease-in-out;
  }
  .service-item a:hover{
    color: blue;
  } */
  .service-EOD-btn{
    display: block;
    text-align: center;
  }
  .timeline-item-image .grid-item .grid-image{
    border-radius: 5px;
  }
  .timeline .content h2{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .team-member .team-image{
    overflow: hidden;
  }
  .team-member .team-image img{
    width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
  }
  .team-member .team-image img:hover{
    transform: scale(1.2) translate(10px,15px);
  }
  .text-center{
    -webkit-animation-name: pencilAnimation;
    animation-name: pencilAnimation;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .text-center h1 {color:#004496}
  /* .text-center span {color:#2EABDE} */

  .contact-EOD-btn{
    position: relative;
    right: 10%;
  }
  .contact-EOD-btn button{
    width: 125px;
    height: 125px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 2px;
    color: #fff;
    background-color: #004496;
    border: solid 5px #0076C6;
    border-radius: 62.5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    transition: all .3s ease-in-out;
  }
  .contact-EOD-btn button:hover{
    background-color: #0076C6;
    border: solid 5px #0076C6;
    /* transform: translateY(-9px); */
    box-shadow: 0px 10px 5px rgba(0, 0, 0, .1);
  }
  .contact-EOD-btn button:active{
    color: #fff;
    background-color: #FFA901;
    border: solid 5px #FFA901;
    /* transform: translateY(0px); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  }


  /* ----------- footer ------------ */
  .copyright-content .copyright-text > p {
    color: #fff;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  .footer-content span > p > i{
    color:#FFA901;
    padding-right:10px ;
    animation: footer-icon 1s infinite linear;
  }
 @keyframes footer-icon {
  0%{ transform: translateX(-5px);}
  60%{ transform: translateX(5px);}
  100%{ transform: translateX(-5px); }
 }

  #tool{
    position: fixed;
    cursor: pointer;
    bottom: 50%;
    right: -25px;
    width: 50px;
    height: 50px;
    font-size: .5rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 2px;
    background-color: #004496;
    /* border: solid 3px #004496; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: all .5s ease-in-out;
    z-index: 999;
    animation: tool-move 3s infinite;
    }
  @keyframes tool-move{
    0% {right: -25px;}
    45% { right: -15px; }
    100% {right: -25px;}
  }

  #tool.open{
    height: 195px;
    right: 0px;
    /* background-color: transparent; */
    border: none;
    bottom: 35%;
    animation: none;
  }
  .tool-close{
    position: relative;
    width: 25px;
    top: 12px;
    background: none;
    /* border: solid 1px #000; */
    margin-bottom: 25px;
  }
  
  .tool-close p {
    position: relative;
    font-size: .85rem;
    left: 7px;
    bottom: -7px;
    color: #FFA901;
    margin-bottom: 0;
  }

  .tool-close a:hover p{
    color: #004496;
  }
  .tool-close::before.open{
    transform: rotate(45deg);
  }
  .tool-btn a{
    display: none;
  }
  
 .tool-btn a.open{
    display: inline-block;
  }
  .tool-btn .tool-social{
    position: relative;
    width: 35px;
    height: 35px;
    right: -9px;
    border-radius: 25px;
    border-radius: 25px;
    margin: 4px 0;
    transition: all .3s ease-in-out;
  }
  
  .tool-btn .tool-social:hover{
    width: 35px;
    height: 35px;
    background-color: #FFA901;
    /* margin: 7px 0; */
  }
  .tool-btn .tool-social i{
    font-size: 1rem;
    padding: 10px;
    color: #fff;
  }
  .tool-btn .tool-social.tool-fb i{
    font-size: 1.2rem;
    padding: 8px 10px 10px 11px;
    color: #fff;
  }
  .title-font{
    width: 100%;
  }
  .title-font img{
    width: 280px;
  }

  .scrolldown-animation {
    top: 95%;
  }

  /* ----------- Animations ----------- */

  .call-to-action.with-button-arrow .call-to-action-btn .arrow {
    position: absolute;
  }
  .arrow {
    background: transparent url(../img/arrows.png) no-repeat 0 0;
    width: 47px;
    height: 120px;
    display: inline-block;
    position: relative;
  }
  .arrow.hlb {
    background-position: -209px -101px;
    width: 120px;
    height: 47px;
  }
  
.appear-animation {
	opacity: 0;
}

.appear-animation-visible {
	opacity: 1;
}

/* ----------- skroll ----------- */
.block{
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.img-parallax {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 160px;
  pointer-events: none
}
.news-hand.img-parallax{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 160px;
  pointer-events: none;
  transform:  rotate(75deg);
}
.news-note{
  top: 0px; 
  left: 0px; 
  transform: rotate(-20deg);
}
/* 
.skroll-img img{
  position: relative;
.skroll-img-customs-r img{
  top: -110px; 
  right: -165px;
  transform: rotate(5deg);
}
.skroll-img-about-l img{
  top: -220px; 
  left: -270px;
}
.skroll-img-news-hand img{
  top: -480px; 
  left: -35px; 
  transform: scale(.4) rotate(40deg);
}
.skroll-img-news-note img{
  top: -450px; 
  left: 50px; 
  transform: scale(.4) rotate(-20deg);
} */

/* ----------- media ----------- */
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .service-EOD-layout{
    margin-bottom: 150px;
  }
  .heading-text p { filter: drop-shadow(0px 2px 2px black); }
}

@media (max-width: 1440px) {
  .img-parallax {
    left: 50px;
  }
  .skroll-img-customs-r img{
    width: 350px;
    right: 230px;
    top: -125px;
  }
  .skroll-img-about-l img{
    width: 800px;
    top: -220px; 
    left: -250px;
  }
  .text-box h3{
    font-size: 1.2rem;
    font-weight: 700;
  }
  .text-box.hover-effect {
    padding: 0px 15px 0px 15px;
}
  .team-members{z-index: 999;}
  .team-members .team-member .team-desc > a {
    font-size: .75rem;
  }
}

@media (max-width: 991px) {
    .img-parallax {
      width: 80%;
      left: 20px;
    }
    .skroll-img-customs-r img{
      width: 350px;
    right: 160px;
    top: -95px;
    }
    .skroll-img-about-l img{
      width: 600px;
      top: -165px; 
      left: -200px;
    }
    .skroll-img-news-l img {
      top: -440px;
      left: -90px;
      transform: scale(.3);
  }
    .about-EOD .about-EOD-item{
      padding: 0 15px;
    }
    .text-box h3{ font-size: 1.2rem;}
    /* .skroll-img img {width: 50%;} */
    .portfolio-item .portfolio-description{
      padding: 0;
    }
    .portfolio-item .portfolio-description h3 {
      color: #fff;
      font-size: 1.2rem;
    }
    .portfolio-item .portfolio-description span {
      font-size: 1rem;
      line-height: 1rem;
    }
}

@media (max-width: 768px){
  .img-parallax {
    display: none;
  }
  .slide-captions .top-EOD-btn span {
    padding-top: 2px;
    font-size: .85rem;
  }
  .heading-text h1{
    margin-bottom: 20px;
  }
  .skroll-img-customs-r img,
  .skroll-img-about-l img,
  .skroll-img-news-l img{
    display: none;
  }
  .text-box.hover-effect {
    padding: 0px 15px;
  }
  .team-members .team-member .team-desc > a {
    font-size: 1rem;
  }
  .text-center span {
    display: block;
    margin: 0 25px;
  }
  .portfolio-item .portfolio-description h3 {
    line-height: 1.5rem;
  }
  .portfolio-item .portfolio-description span {
    font-size: .95rem;
    line-height: 1rem;
  }
  .contact-EOD-btn {
    position: relative;
}
  
}

@media (max-width: 500px){
  .about-EOD-item .about-EOD-btn .btn{
    margin: 0 0;
  }
  .skroll-img img {display: none;opacity: 0;visibility: hidden;}
  .scrolldown-animation {
    top: 85%;
  }
  .heading-text p { font-size: 1rem;}
  .lead {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
}